.commentContainer{
    margin-left: 8px;
    margin-top: 4px;
}

.reply {
    background:red;
    padding: 10px;
    margin-bottom: 2px;
}

.userName {
    background: navy;
    padding: 5px;
    color: white;
      
}