.termContainer{
  margin-bottom: 4px;
  margin-left: 4px;
}

.term {
background: rgba(128, 128, 128, 0.493);
margin: 0;
padding: 5px;
}

.termDef {
  background: orange;
  color: black;
  margin: 0;
  padding: 5px;
}

