
html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.875em;
}

body {
    margin: 0;
    padding: 0 2em;
    background: rgb(182, 182, 182)
}


.dice {
width: 160px;
height: 160px;
background: white;
}
