h1 {
    font-size: 1.8em;
    font-family: 'Linux Libertine','Georgia','Times',serif;
    line-height: 1.3;
    margin-bottom: 0.25em;
    padding: 0;
}

h2 {
    font-size: 1.5em;
    font-family: 'Linux Libertine','Georgia','Times',serif;
}

h3 {
    font-size: 1.2em;
    font-family: 'Linux Libertine','Georgia','Times',serif;
    font-weight: bold;
}
/* navigation */
nav {
    font-size: 95%;
    line-height: 1.6;
    font-family: sans-serif;
}

p {
    font-size: 0.875em;
    font-family: sans-serif;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: #0645ad;
}

a:hover {
    text-decoration: underline;
}
a:visited {
    color: #0b0080;
}

body {
    color: #222222;

}