
 
html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.875em;
}

body {
    margin: 0;
    padding: 0 2em;
    width: 100vw;
    height: 100vh;
    background: gray;
}


.textbox {
    width: 50%;
}

.closedmenu {
    width: 10%;
}

.openmenu {
    width: 40%;
}